.title-volunteer {
	font-size: 40px;
	color: white;
}

title-ghana {
	font-size: 30px;
	color: Black;
}


.text-block {
  position: absolute;
  top: 100px;
  left: 20px;
  right: 20px;
  padding-left: 20px;
  padding-right: 60px;
  max-width: 50%;
  background: rgb(1, 1, 1); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: white;
  font: normal;
  color: white;
}


.text-details-block {
  position: absolute;
  top: 100px;
  left: 20px;
  right: 20px;
  padding-left: 20px;
  padding-right: 60px;
  max-width: 50%;
  color: white;
  font: normal;
  color: white;
}


*{
  box-sizing: border-box;
}

.box {
        margin: 30px 5px 10px 5px;
}

.box_two {
        margin: 100px 5px 10px 5px;
}